.speech{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}
.stage-direction{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    font-style: italic;
    color: black;
    background-color: rgb(201, 152, 67);
}
.name{
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
    color: black;
}
.stage-direction:hover{
    background-color: rgb(131, 83, 177);
    color:black;
}
.LADYANNE{
    color: rgb(180, 63, 63);
}
.GLOUCESTER{
    color: rgb(39, 201, 33);
}
.Gentleman{
    color:rgb(44, 37, 121);

}
